.h1{
    background-color: aqua;
}

.caja1{
    border: black solid 3px;
    /*Pueden estar agrupados así:
    background-color: pink;
    border-color: blue;
    border-style: groove;
    */
    width: auto;
    height: auto;
    overflow: scroll;
    margin-bottom: 30px;
    margin-left: 30px;
    padding-left: 20px;
    padding-top: 20px;
}
.caja2{
    background-color:orange;
    width: auto;
    border-style: dashed;
    height: auto;
    overflow: auto;
    margin-top: 15px;
    border-width: 4px 4px 4px 4px;
    border-color: blueviolet;
    padding: 15px;
    box-sizing: border-box;
    /*border-etc*/
}
.caja3{
    background-color: pink;
    border-color: blue;
    border-style: groove;
    border-width: 4px;
    width: 400px;
    height: 400px;
    max-width: 400px;
    margin-top: 30px;
    box-sizing: border-box;
    /*Margin-top margen con la caja de arriba, separación entre párrafos*/
}

